@media (max-width: 400px){
    body {

    }

    /* img {
      display: flex;
      position: absolute;
      width: 125px;
      height: 50.1px;
      left: 97px;
      top: 33px;
    } */
    h3{
      display: flex;
      width: 194px;
      height: 31px;
      left: 63px;
      top: 157.1px;

      font-family: 'IBM Plex Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 31px;

      color: #DEE2E6;
    }
    p{
      display: flex;
      position: absolute;
      width: 124px;
      height: 26px;
      left: 98px;
      top:  371px;

      font-family: 'IBM Plex Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;

      color: #ADB5BD;
    }
    ul   {
      display:flex;
      position: absolute;
      width: 280px;
      height: 60px;
      left: 20px;
      top: 262px;

      background-color: #343A40;
      border-radius: 8px;
    }
}









body {
  background-color: #212529;
  color: #dee2e6;

  font-size: 1.5rem;
}

nav {
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

nav > input {
  padding: 0.5rem;
  display: flex;
  position: absolute;
  top: 100px;
}

nav > button {
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  position: absolute;
  top: 150px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 5rem;
}

.main__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.main__list > li {
  border: 1px solid;
  border-radius: 8px;
  padding: 1rem;
  width: 251px;
  height: 26px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.main__list > li > img {
  width: 60px;
  height: 60px;
}

#all {
  margin-right: 3rem;
}